
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="template (content)">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" initial-scale=1.0>
  <title>Travel Allowance</title>
  <link rel="stylesheet" th:href="@{/css/fonts.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/css/pikaday.min.css">
</head>
<body>

<nav th:replace="~{fragments/navigation::nav}"></nav>

<section th:replace="${content}">

</section>

</body>
</html>