<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #bonus-page-section})}">


<section id="bonus-page-section">

    <div class="container">
        <div>
            <img th:src="@{/img/bonus.jpg}" alt="Bonus" style="width: 100%; height: 200px; object-fit: cover">
        </div>


            <h2 style="text-align: center; font-size:2em">Rate of Allowance</h2>
        <div style=" margin-top: 90px; display: flex; flex-direction: column; align-items: center;transform: scale(1.5)">
        <form th:action="@{/calculate-bonus}" method="get">
            <label for="index">Enter Your Index:</label>
            <input type="number" id="index" name="index" required>
            <div style="margin-top: 10px">
            <label for="month">Select Month:</label>
            <select id="month" name="month">
                <option value="JANUARY">January</option>
                <option value="FEBRUARY">February</option>
                <option value="MARCH">March</option>
                <option value="APRIL">April</option>
                <option value="MAY">May</option>
                <option value="JUNE">June</option>
                <option value="JULY">July</option>
                <option value="AUGUST">August</option>
                <option value="SEPTEMBER">September</option>
                <option value="OCTOBER">October</option>
                <option value="NOVEMBER">November</option>
                <option value="DECEMBER">December</option>
            </select>
            </div>
            <div style="margin-top: 10px">
            <button type="submit">Calculate</button>
                </div>
        </form>

            <div style="margin-top: 30px">

        <p>Your Travel Allowance: <span th:text="${travelAllowance}"></span></p>
        <p>Number of PM Shifts: <span th:text="${numberOfPMShifts}"></span></p>
</div>

    </div>
    </div>

</section>

</html>