<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #bonus-page-section})}">


<section id="bonus-page-section">

    <div class="container">
        <div>
            <img th:src="@{/img/bonus.jpg}" alt="Bonus">
        </div>


        <h2>Rate of Allowance</h2>
        <form th:action="@{/calculate-bonus}" method="get">
            <label for="index">Enter Your Index:</label>
            <input type="number" id="index" name="index" required>

            <label for="month">Select Month:</label>
            <select id="month" name="month">
                <option value="JANUARY">January</option>
                <option value="FEBRUARY">February</option>
                <option value="MARCH">March</option>
                <option value="APRIL">April</option>
                <option value="MAY">May</option>
                <option value="JUNE">June</option>
                <option value="JULY">July</option>
                <option value="AUGUST">August</option>
                <option value="SEPTEMBER">September</option>
                <option value="OCTOBER">October</option>
                <option value="NOVEMBER">November</option>
                <option value="DECEMBER">December</option>
            </select>
            <div>
                <button type="submit">Calculate</button>
            </div>
        </form>



        <div>

            <p>Your Travel Allowance: <span th:text="${travelAllowance}"></span>PLN</p>
            <p>Number of PM Shifts: <span th:text="${numberOfPMShifts}"></span></p>
        </div>

    </div>

</section>

</html>