<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #home-page-section})}">


<section id="home-page-section">

    <div class="container">
        <div>
            <img th:src="@{/img/taxi.jpg}" alt="Taxi" style="width: 100%; height: 200px; object-fit: cover">
        </div>

        <h2 style=" text-align: center; font-size: 2em">Travel Allowance</h2>

        <p>WHAT IS TRAVEL ALLOWANCE?</p>
        <p class="normal">If the employee is required to work in the office after 6:00 PM , the employer will
            provide an allowance to cover the costs of travel from work to home.</p>
        <p>WHAT IS THE AMOUNT OF THE ALLOWANCE? </p>
        <p class="normal">For each day of work on the evening shift (at 6:00 PM), the employee will receive the
            allowance of 60 PLN. </p>
        <p class="normal"><b>IMPORTANT!</b> The allowance will be paid with a month's delay. It will be sent to the
            employee's bank account with a monthly salary. </p>

    </div>
</section>

</html>