<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #preferences-content})}">

<section id="preferences-content">

    <div class="container">
        <div>
            <img th:src="@{/img/preferences.jpg}" alt="Preferences">
        </div>

        <h2>Preferences</h2>
        <p class="normal">Please select the working days for the next month and choose your preferred shift: AM or
            PM. <b>Important! All fields must be filled in.</b></p>


        <form th:action="@{/preferences}" th:object="${employeePreferencesModel}" method="post">
            <label for="localDate">Select Date</label>
            <input type="text" id="localDate" name="localDate" th:field="*{localDate}" placeholder="Calendar"
                   autocomplete="off" readonly>
            <label for="shift">Select Shift</label>
            <select id="shift" name="shift" th:field="*{shift}">
                <option th:each="shiftOpt : ${T(pl.wszib.travelallowance.model.Shift).values()}"
                        th:value="${shiftOpt}" th:text="${shiftOpt}"></option>
            </select>

            <label for="index">Enter Your Index</label>
            <input type="number" id="index" name="index" th:field="*{index}" placeholder="Type index"/><br/>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.36/moment-timezone-with-data.min.js"></script>

            <script>
                const currentDate = moment().tz('Europe/Warsaw');
                const defaultNextMonth = moment(currentDate).add(1, 'month').startOf('month');

                const year = defaultNextMonth.year();
                const month = defaultNextMonth.month() + 1;
                const formattedDefaultDate = defaultNextMonth.format('YYYY-MM-DD');

                const picker = new Pikaday({
                    field: document.getElementById('localDate'),
                    minDate: moment(currentDate).add(1, 'month').startOf('month').toDate(),
                    maxDate: moment(currentDate).add(1, 'month').endOf('month').toDate(),
                    defaultDate: formattedDefaultDate,
                    setDefaultDate: true,
                    format: 'YYYY-MM-DD',
                    autoClose: true,
                    onSelect: function (date) {
                        const formattedDate = moment(date).format('YYYY-MM-DD');
                        document.getElementById('localDate').value = formattedDate;
                        console.log(formattedDate);
                        console.log(formattedDefaultDate);

                    }
                });
            </script>


            <p th:if="${fieldRequiredError}" th:text="${fieldRequiredError}" class="fieldRequiredError"></p>

            <button type="submit">Save</button>

        </form>

        <div th:if="${errorMessage}">
            <p th:text="${errorMessage}" class="error-message"></p>
        </div>
        <div th:if="${successMessage}">
            <p th:text="${successMessage}" class="success-message"></p>
        </div>

        <div th:if="${generalMessage}">
            <p th:text="${generalMessage}" class="generalMessage"></p>
        </div>
    </div>
</section>
</html>